* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Righteous', sans-serif;
	font-weight: 400;
	font-size: 44px;
	line-height: 55px;
	letter-spacing: -0.012em;
}

header p {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

h2 {
	font-family: 'Righteous', sans-serif;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0.018em;
}

.list-item h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

}

.list-item p:last-child {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.list-item p {
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
}

.price-container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

button {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.018em;
}

h4 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.order-item {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.018em;
}
.order-item:last-child {
	font-weight: 700;
}

#modalBox>button {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.018em;
	text-align: center;
}